/* a predetermined position from the beginning */
* {
    margin: 0px;
    padding: 0px;   
    font-family: "Roboto slab";
}
body{
  background-color: #f0ece3;
}
/* Style header and center the text*/
.header{
    background-color: #f2f2f2d0;
    width: 95%;
    height: 40px;
    padding: 50px 0px;
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
    text-align: center; 
}
/* Style the entire form */
.container {
    max-width: 750px;
    margin: auto; 
    margin-top: 30px;
    background-color: #f2f2f2;
  }
  /* Display next to each other the two parts of the form (first div - left and message - right) and add borders to the entire form */
  .form {
    display: flex;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 270px;
    color: #596e79;
  }  
 /* Use input element to style the elements of the form */
    input[type=text], input[type=email], textarea{
    width: 300px;
    padding: 12px;
    margin-top: 6px;
    border-radius: 3px;
    border: 1px solid #ccc; 
    font-family: initial;
  }   
 label {
    font-weight: bold;
  }
 /* The message cell will move in raport with initial position(left, right, top, bottom) through relative*/
 .message{
   position: relative;
   left: 50px;    
 }
   /* Style the submit button of the form. the button will have an absolute position in raport with parrent (message) through the relationship relative_absolute*/
 input[type=submit] {
  position: absolute;
  top:245px;
  right: 2px;
  background-color: rgba(43, 30, 221, 0.856);
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }
 /* Center the contacts field: facebook, twitter, instagram */
.socialmedia {
    text-align: center;
    margin-top: 30px;
}
hr {
  border-top: rgba(128, 128, 128, 0.116);  
  width: 300px; 
  margin: auto;
}
/* list that will be inline */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
  }
  li  {
    display: inline-block;
    padding: 20px 50px;
  }
  li a{
      text-decoration: none;
      color:rgba(17, 92, 189, 0.733);
  }
  