* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

.container {
    padding: 0 100px;
}

.nav {
    background-color: #3a3e59;
}

nav {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav li {
    margin-left: 25px;
}

.nav-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-left li {
    font-size: 1.2rem;
    margin-top: 5px;
}

.nav-left a {
    color: #ffffff;
}

.logo {
    width: 40px;
    margin-right: 25px;
}

.social-links img {
    width: 30px;
    margin-top: 5px;
    
}

.hero-section {
    background-image: url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 59.99px);
    position: relative;
    overflow: hidden;
    padding-top: 80px;
}

.music {
    display: flex;
    flex-wrap: wrap;
}

.music-icon {
    width: 80px;
}

.music-player {
    margin-left: 30px;
    max-width: 412px;
}

.music-player h1 {
    line-height: 1.5;
}

.music p,
.music h1 {
    color: #ffffff;
}

.music p {
    letter-spacing: 2px;
}

.music h1 {
    text-transform: uppercase;
    margin-top: -10px;
}

.seek {
    width: 411px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
}

.played-bar {
    background-color: #ff4b4b;
    height: 3px;
    width: 100px;
    display: block; 
}

.circle {
    background-color: #ff4b4b;
    height: 15px;
    width: 15px;
    display: block;
    border-radius: 50%;
    margin-top: -5px;
}

.rest-of-bar {
    background-color: #ffffff;
    height: 3px;
    width: 296px;
    display: block;
}

.time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.time p {
    font-size: 1rem;
    letter-spacing: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient-1 {
    background-image: linear-gradient(45deg, rgba(135, 77, 162, .94) 0%, rgba(196, 58, 48, .60) 100%);
}

.gradient-2 {
    background-image: linear-gradient(135deg, rgba(144, 247, 236, .94) 10%, rgba(50, 204, 188, .60) 100%);
    z-index: -1;
}

.gradient-3 {
    background-image: linear-gradient(135deg, rgba(146, 255, 192, .94) 10%, rgba(0, 38, 97, .60) 100%);
    z-index: -1;
}

.gradient-4 {
    background-image: linear-gradient(-60deg, rgba(255, 88, 88, .94) 0%, rgba(240, 152, 25, .60) 100%);
    z-index: -1;
}

.cutter {
    position: absolute;
    bottom: 0;
    width: 100vw;
    left: 0;
    z-index: 2;
    opacity: .4;
}

.music, 
.cards {
    z-index: 3;
    position: relative;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card-1 {
    position: relative;
    width: 250px;
    background-image: url(/img/1.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}

.card-1 * {
    color: #ffffff;
}

.card-1 p,
.card-1 h2 {
    text-transform: uppercase;
}
.card-1 p {
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.card-1 h2 {
    margin-top: -5px;
}

.play-music {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.play-music img {
    width: 15px;
}

.play-music p {
    margin-left: 10px;
    text-transform: capitalize;
}

/*  */
.card-1:not(:first-child) { 
    margin-left: 20px;
}

.card-2 {
    background-image: url(/img/2.jpg);
}

.card-3 {
    background-image: url(/img/3.jpg);
}

.heading-lg {
    font-family: 'Ribeye Marrow', cursive;
    font-size: 7rem;
    color: #bdbdbd;
    position: relative;
    z-index: 2;
    top: -30px;
    left: 200px;
    text-transform: uppercase;
}

.channel-link {
    background-color: #ff5858;
    padding: 20px 40px;
    transform: rotateZ(270deg);
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    z-index: 3;
    right: 0;
    margin-right: -100px;
    margin-top: -220px;
}

.channel-link h1 {
    color: #ffffff;
}
