* {
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 164, 164);

}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;

}

input[type=text] {
    width: 700px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#buttonSubmit {
    width: 700px;
    left: 300px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(99, 79, 95);
    outline: none;

}

#buttonSubmit:hover {
    background-color: rgb(20, 20, 20);
}

label {
    font-weight: bold;
}

.validForm {
    text-align: center;
    visibility: hidden;
}

#myTable {
    visibility: hidden;

}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;

}

th {

    height: 30px;
}

.green {
    background-color: rgb(91, 155, 91);
    padding: 5px;
    border-radius: 6px;
}

.red {
    background-color: rgb(189, 81, 81);
    padding: 5px;
    border-radius: 6px;
}

.center {

    background-color: red;
}