/*reset all settings from the beggining */
* {
   margin:0px;
   padding: 0px;
   max-width: 1000px;
   margin:auto;
   font-family: "Roboto slab";
 } 

body {
   background-color: #f0ece3;
  }

header{
   background-color:#c7b1987c;
   position: fixed;
   width: 1000px;
   height: 70px;
 }

/* Style the lists from the hole page (hover &footer) */
ul {
   list-style-type: none;
 }
li  {
   display: inline-block;
   padding: 15px;
   font-weight: bold;  
 }
li a{
   text-decoration: none;
   color:#596e79;
   font-size: 13px;
 }
 
/* diplay flex the two section from navbar class (logo&menu) */
.navbar {
   display: flex;  
  }

.logo {
   flex:1;
   color:#596e79;
   padding:25px; 
 }

/* hover for all lists from the page */
a:hover  {
   color:#000000;
  }

 /* flex the h and img from the intro class */
.intro {
   display: flex;
   height: 500px;
   justify-content: space-evenly;
 }

/*Style the image*/
img {
   border-radius: 40%;
   width: 250px;
   flex:1;
 }

.hello {
   font-size: 40px;
   color: #596e79; 
 } 

/* style the text */
.text { 
   text-indent: 70px;
   line-height: 25px; 
   text-align: center;
 }

/* class hobbies display 5 flex elements */
.hobbies {
   padding: 40px;
   background-color: #dfd3c3;
   margin: 15px;
 }

/* diplay flex all classes witch start with "box" */
[class^="box"] {
   display:flex;
   border:2px solid #808080;
   padding: 10px;
   margin-top: 15px;
 }

.hobbies img {
   border-radius: 0%;
   flex:1;
 }

/* style the hobbies content */
.hobbies h1{
   color:#808080; 
   text-align:center;
   font-size: 30px;
 }

.hobbies p {
   padding: 60px;
   text-align: justify;
   line-height: 30px;
   flex:2;
 }

/* style the first letter of all p */
p::first-letter{
   font-weight: bold;
 }

/* style footer */
footer{
   background-color:#c7b1987c;
   width:1000px;
   height: 70px;
 }

/* Center the contacts field: facebook, twitter, instagram */
.socialmedia {
   text-align: center;
 }
.socialmedia a {
   padding: 50px 100px; 
  }