/* reset  initial settings */
* {
   margin:0px;
   padding: 0px;
   max-width: 1000px;
   margin:auto;
   font-family: "Roboto slab";
  }

body {
   background-color: #f0ece3;
  }

header{
   background-color:#c7b1987c;
   position: fixed;
   width: 1000px;
   height: 70px;
 }

/* Style the lists from the hole page (hover &footer) */
.menu ul {
   list-style-type: none;
 }
.menu li  {
   display: inline-block;
   padding: 15px;
   font-weight: bold;  
  }
.menu li a{
   text-decoration: none;
   color:#596e79;
   font-size: 13px;
 }
/* diplay flex the two section from navbar class (logo&menu) */
.navbar {
  display: flex;  
 }
.logo {
   flex:1;
   color:#596e79; 
   padding:25px; 
 }
/* hover for all lists from the page */
.menu a:hover {
   color:#000000;
  }
/* text */
.contactme {
    padding: 60px 0px; 
    font-size: 30px;
    text-align: center; 
  } 
/* Display next to each other the two parts of the form (first div - left and message - right) and add borders to the entire form */
.containerform {
   padding: 10px;
   background-color: #f2f2f2;
  }

.form {
   display: flex;
   padding: 60px;
   border: 2px solid #ccc;
   border-radius: 5px;
   color: #596e79;
  }  

/* Use input atr to style the elements of the form */
input[type=text], input[type=email], textarea {
   width: 300px;
   padding: 12px;
   border-radius: 3px;
   border: 1px solid #ccc; 
 }   
label {
    font-weight: bold;  
  }

/* The message cell will move in raport with initial position(left, right, top, bottom) through relative*/
.message {
   position: relative;
 }

/* Style the submit button of the form. the button will have an absolute position in raport with parrent (message) through the relationship relative_absolute*/

input[type=submit] {
  position: absolute;
  top:240px;
  right: 2px;
  color: #ffffff;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2b1eddda;
 }

/* hover submit button */
input[type=submit]:hover {
   background-color: slateblue;
 } 

/* Center the contacts field: facebook, twitter, instagram */
.socialmedia {
    text-align: center;
    margin-top: 30px;
 }
hr{
   width: 500px;
 }
/* list that will be inline */
.socialmedia ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
  }
.socialmedia li {
    display: inline-block;
    padding: 20px 50px;
  }
.socialmedia li a {
    text-decoration: none;
    color:#115cbdbb;
  }
.socialmedia a:hover {
    color: #000000;
  }
  