/*RESET all settings from the beggining */
* {
   margin:0px;
   padding: 0px;
   max-width: 1000px;
   margin:auto;
   font-family: "Roboto slab";
  }

body {
   background-color: #f0ece3;
  }
/* style the header */
header {
   background-color:#c7b1987c;
   position: fixed;
   width: 1000px;
   height: 70px;
  }

/* Style all lists from the page (hover &footer) */
ul {
   list-style-type: none;
 }

li {
   display: inline-block;
   padding: 15px;
   font-weight: bold;  
  }

li a {
    text-decoration: none;
    color:#596e79;
    font-size: 13px;
 }

/* diplay flex the two section from navbar class (logo&menu) */
.navbar {
   display: flex;  
  }

.logo {
   flex:1;
   color:#596e79;
   padding:25px; 
 }

 /* hover for all lists from the page */
.container a:hover  {
   color: black;
 }

  /* style the image cover from the page */
.img1 {
    height: 360px;
    width: 1000px;
 }

 /* position the text over the image using an absolute position to the parent  */
.cover {
   position: relative;
   top:70px;
 }

.textoverimg {
   position: absolute;
   top:40%;
   left:10%;
   color:#00000096;
 }
/* style the setion of the page in 3 boxes */
section {
   display: flex;
   justify-content: space-evenly;
   margin-top: 70px;
 }

.box {
   text-align: center;
   margin:10px;
 }

 /* select all span from second class */
.box > span {
   background-color:#596e797a;
   color: #ffffff;
 }

 /* select all a from class second */
.box > a {
   text-decoration:none ;
   font-weight: bold;
   color:#596e79;
 }

/* all p that are the first child of section parent */
section p:first-of-type {
   color:#808080;
   font-style: italic;
   padding: 10px;
  }

  /* vertical line */
.vl {
   border-left: 1px solid grey;
   height: 250px;
  }
/* style all child image from box class */
.box > img {
   width: 200px;
    height: 190px;
    /* border-radius: 50%; */
 }
/* style all child p from box class */
.box > p {
   font-size: 15px;
   width: 270px;
   text-align: center;
  }

/* text */
.text {
   padding: 50px;
 }

.text p{
   text-align: justify;
   text-indent: 15px;
   text-align: center;
}
/* style the footer of the page */
footer{
    background-color:#c7b1987c;
    width:1000px;
    height: 70px;
  }

  /* Center the contacts field: facebook, twitter, instagram */
.socialmedia {
    text-align: center;
  }

.socialmedia a {
   padding: 50px 100px; 
 }