/*RESET all settings from the beggining */
* {
    margin:0px;
    padding: 0px;
    max-width: 1000px;
    margin:auto;
    font-family: "Roboto slab";
    box-sizing: border-box;
   }

body {
     /* background-color: #f0ece3; */
    }

header{
    background-color:#c7b1987c;
    position: fixed;
    width: 1000px;
    height: 70px;
   }
/* Style the lists from the hole page (hover &footer) */
ul {
    list-style-type: none;
  }
li  {
    display: inline-block;
    padding: 15px;
    font-weight: bold;  
   }
li a {
     text-decoration: none;
     color:#596e79;
     font-size: 13px;
 }
/* diplay flex the two section from navbar class (logo&menu) */
.navbar {
    display: flex;  
   }
.logo {
    flex:1;
    color:#596e79;
    padding:25px; 
  }
/* hover for all lists from the page */
a:hover {
    color:#000000;
   }
/* style the content of the page */
section {  
    padding-top: 80px;
  } 
/* diplay next to each other all divs from box class */
.box {
    display:flex;
    padding: 30px;
  }
/* diplex next to each other all divs from pro class */
.pro {
    display: flex;
    padding: 30px;
    flex:2;
  }
/* style all img elem from box class */
.box img {
    width: 200px;
    padding: 30px;
    flex: 1;
  }
/* style all span elem from pro class */
.pro span {
    background-color:#808080;
    border-radius: 50%;
    padding: 30px;
    color: white;
    text-align: center;
    border: 2px solid #ffc0cb; 
   }
/* style all p elem from pro class */
.pro p {
    padding: 15px; 
    text-align: justify;
    line-height: 20px;
  }
/* style all h3 elem from projname class */
.projname > h3 {
    padding: 15px;  
  }
hr {
    width: 1000px;
  }
/* style footer */
footer{
    background-color:#c7b1987c;
    width:1000px;
    height: 70px;
  }
/* Center the contacts field: facebook, twitter, instagram */
.socialmedia {
    text-align: center;
  }
.socialmedia a {
    padding: 50px 100px; 
  }