/*Style entire page in center*/
.container{
  max-width: 550px;
  margin: auto; 
  margin-top: 40px;
}
/*Style the image*/
img{
  border-radius: 50%;
  width: 120px;
}
/* Style the 1st list */
ul.b {
  list-style-type: none;
  margin: 0px;
  padding: 0px; 
}
  li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 13px;
  }
  /*Style the top menus (about/resume/home)*/
  .b li  {
    display: inline;
  }
  .menu {
    float: right;
    word-spacing: 10px;
  }
  /* Links - change color with hover  */
  .menu a:hover  {
    color:black;
  }

p { 
     text-indent: 50px;
     line-height: 23px; 
     text-align: justify;
}

  /* Style the 2nd list */
  ul.a{
    text-indent: 50px;
    line-height: 23px; 
    text-align: justify;
  }
    li.a {
     list-style-type: circle;   
    }
  
 