.container {
  /* border: 2px solid red; */
  width: 800px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
}

.box-form {
  padding: 40px;
  background-color: rgb(212, 162, 68);
  border-radius: 10px;
  margin-bottom: 10px;
}

.form-inline input {
  border-radius: 5px;
}


#buttonAddContact {
  padding: 5px 10px;
  background-color: rgb(4, 43, 82);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

.box-agendaTable {
  padding: 40px;
  background-color: rgb(212, 162, 68);
  border-radius: 10px;
  visibility: hidden;
}

th,
td {
  padding: 10px;
  width: 150px;
}