@import url('https://fonts.googleapis.com/css?family=Lobster');
*{
    box-sizing: border-box;
    font-family: 'Lobster', cursive; 
}

body{
    background-color: rgb(192, 159, 223);
    background-image: url("images/list6.jpg");
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
    width: 1200px;
    margin: 30px auto;
    font-size:20px;
    margin-bottom: 20px;
} 

#buttonAdd{
/* border-radius: 4px; */
    background-color: turquoise;
    font-size: 15px;
    padding: 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.buttonAdd:hover {
    background-color:blue;
}

input[type=text] {
    padding: 10px;
    margin: 10px;
    font-size:15px;
  }

[class*="buttonSort"]{
    background-color: rgb(192, 159, 223);
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.sort{
    margin-right: 150px;
}

.table{
    visibility: hidden;
    /* margin-right: 10px; */
   
}

.buttonMarkAsBuyed{
    background-color: rgb(228, 108, 72);
    border: none;
    cursor: pointer;
    border-radius: 3px; 
    
}
.stroke {
     text-decoration: line-through; 
}

.red {
    border-color: red;
}

