*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.movie-container{
    margin:20px;
}

.movie-container select {
    background-color: gray;
    font-size: 20px;
    appearance: none; 
    margin-left:10px;
    padding: 5px 15px 5px 15px;   
}

.seat{
    background-color: gray;
    height: 24px;
    width: 30px;
    margin: 6px;
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
}

.seat.selected{
    background-color: green;
}
.seat.occupied{
    background-color: red;
}

.seat:nth-of-type(2){
    margin-right: 25px;
}
.seat:nth-last-child(2){
    margin-left: 25px;
}

.row{
    display:flex;
}

.legend, .text{
display: flex;
justify-content: center;
color:gray;
padding: 5px 10px;
justify-content: space-between;
background-color: black;
border-radius: 5px;
}

.legend li small{
    margin-left: 2px;
}
.legend li{
display: flex;
align-items: center;
background-color: black;
justify-content: center;
}

.text{
    margin:5px;
}
p.text span {
    color: blue;
}
