/* ----------------HEADER---------------------- */
.cart-header{
    padding: 30px;
    display: inline-block;
    margin:50px 300px;
}

/* ---------------CART CONTAINER-------------- */
#cart-container{
    display: flex;
    padding: 10px;
    /* border:3px solid blue;  */
    margin:0px 150px 0px; 
} 

/* -------------TABLE CART------------------ */
#cart-books {
    border-collapse: collapse;
    /* border: 2px solid red; */
    width: 900px;
    position: relative;
}

#cart-books th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.details-book-quantity{
    width: 25px;
    height: 20px;
    border: none;
}

[id*="op"]{
    border: none;
    outline: none; 
    background-color: white; 
}

/* -----------INFO CART (total)----------- */
.cart-info{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 30px;
    text-align: right; 
    position:absolute; 
    right: 250px;
}

#cart-btn {
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 7px;
    font-size: 1vw;
    display: inline-block;
    transition-duration: 0.5s;
    outline: none;
    margin:15px;
}

