/* ------------------------reset for all the elements-------------------- */
* {
  margin: 0;
  padding: 0;
  /* elemnts will not gone get bigger if I have the value of the border-box */
  box-sizing: border-box;

}

:root {
  --main-color: #0275d8;
}

body {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 100%;
  /* background-color: rgb(240, 236, 236); */
  /* /* background: url(img_man.jpg) no-repeat center fixed; 
  background-size: cover; */

}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('images/preloader.gif') no-repeat center center;
  z-index: 99999;
  /* background-repeat: no-repeat; */
  /* background: no-repeat; */
}

/* ----------------------------------start navbar--------------------------- */
.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  /* background: #d3c09a; */
  padding: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.navbar-center {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2px;
}

/* .cart-btn {
     margin-left: 260px;
 } */

.nav-logo {
  font-size: 2vw;
  text-shadow: -3px -3px gray;
  letter-spacing: 5px;
  color: white;
}

.nav-logo a {
  text-decoration: none;
  color: white;
  /* font-size: 2vw; */
}

.nav-logo span {
  color: var(--main-color);
  /* font-size: 2vw; */
}

.nav-form {
  display: flex;
}

.nav-form input {
  width: 30vw;
  padding: 15px;
  border-color: var(--main-color);
  cursor: pointer;
  /* background-image: url("search.jpg"); */
  outline: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* .nav-form input:focus {
     background-color: #d3c09a;
 } */

#nav-button-search-book {
  width: 50px;
  border-radius: 7px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-color: var(--main-color);
  outline: none;
  cursor: pointer;
}

.nav-icon,
.admin-icon {
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 7px;
  outline: none;
  font-size: 0.8vw;
  display: inline-block;
  transition-duration: 0.5s;
  /* border-top-right-radius: 70px; */
}

.admin-icon:hover {
  background-color: #0b16aa;
  color: white;
}

.nav-icon:hover {
  background-color: #0b16aa;
  color: white;
}

/* start book details */

.details-hidden-banner {
  background-color: #0275d8;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px;
  opacity: 0.5;
  visibility: hidden;
}

.details-book-container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  max-width: 1200px;
  margin: auto;
  padding: 20px;

}

.details-book-img {
  max-width: 30%;
  height: 400px;
  margin: auto;
  
}

/* .details-book-img:hover {
  transform: scale(1.2);
} */

/* al 3-lea element al divului details.. */
.details-book-info > p:first-of-type {
  color: green;
  font-weight: bold;
  padding: 10px 0;

}

.details-book-info input {
  width: 50px;
}

.details-book-info > h3 {
  margin-top: 30px;
}

.details-book-info > h5 {
  font-style: italic;
  position: relative;
}

.details-book-description {
  margin-top: 40px;
  /* border: 2px solid rgb(61, 60, 60); */
  /* box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; */
  padding: 10px;
  width: 80%;
}

/*  > doar p directi ai divului */
.details-book-description > p {
  text-align: justify;
  font-size: 12px;
}

.btn-add-to-cart {
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: #2081e2;
  padding: 15px;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
  margin-top: 30px;
  width: 150px;
  position:absolute;
  right: 400px;
  top:200px;
}

/*------------------------- ------start footer -----------------------------*/


.footer-container {
  /* color: white; */
  background-color: black;
  /* padding: 30px; */
  text-align: center;
  margin-top: 200px;
}

.footer-announcements {
  background-color: white;
}

.footer-message {
  background-color: white;
  color: var(--main-color);
  width: 20%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.footer-subscribe-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;
  color: white;
}

#footer-input-email {
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  outline: none;
}

#footer-btn {
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  color: white;
}

/* toate clasele din div care contin fab  */
.footer-social-icons [class*=fab] {
  color: var(--main-color);
}

.footer-social {
  /* padding: 40px; */
}

.footer-social-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  padding: 10px;
}






/*------------------------- ------end footer -----------------------------*/