
/* -------------------------START style book details -------------------------*/

.details-hidden-banner {
  background-color: #0275d8;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px;
  opacity: 0.5;
  visibility: hidden;
}

.details-book-container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  max-width: 1200px;
  margin: auto;
  padding: 20px;

}

.details-book-img {
  max-width: 30%;
  height: 400px;
  margin: auto;
  
}

/* al 3-lea element al divului details.. */
.details-book-info > p:first-of-type {
  color: green;
  font-weight: bold;
  padding: 10px 0;
}

.details-book-info input {
  width: 50px;
}

.details-book-info > h3 {
  margin-top: 30px;
}

.details-book-info > h5 {
  font-style: italic;
  position: relative;
}

.details-book-description {
  margin-top: 40px;
  /* border: 2px solid rgb(61, 60, 60); */
  /* box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px; */
  padding: 10px;
  width: 80%;
}

/*  > doar p directi ai divului */
.details-book-description > p {
  text-align: justify;
  font-size: 12px;
}

.btn-add-to-cart {
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: #2081e2;
  padding: 15px;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
  margin-top: 30px;
  width: 150px;
  position:absolute;
  right: 400px;
  top:200px;
}

.footer-container {
  bottom:0px;

}

@media(max-width:769px) and (max-width:1599px) {
  
 
}

@media(min-width: 1201px){
 body {
   width:100%;
 }
 

@media(max-height: 500px){
 body {
   width:100%;
 }
 .navbar {
   width:100%;
 }
} 