/* ------------------------reset for all the elements-------------------- */
* {
  margin: 0;
  padding: 0;
  /* elemnts will not gone get bigger if I have the value of the border-box */
  box-sizing: border-box;

}
/* template */
:root {
  --main-color: #0275d8;
  --main-fontfamily: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  color: black;
  font-family: var(--main-fontfamily);
  /* width: 1600px; */
}

/* .loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('images/preloader.gif') no-repeat center center;
  z-index: 99999;
  /* background-repeat: no-repeat; */
  /* background: no-repeat;} */


/* ----------------------------------start navbar--------------------------- */
.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  /* background: #d3c09a; */
  padding: 15px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.navbar-center {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2px;
}

/* .cart-btn {
     margin-left: 260px;
 } */

.nav-logo {
  font-size: 2vw;
  text-shadow: -3px -3px gray;
  letter-spacing: 5px;
  color: white;
}

.nav-logo a {
  text-decoration: none;
  color: white;
  /* font-size: 2vw; */
}

.nav-logo span {
  color: var(--main-color);
  /* font-size: 2vw; */
}

.nav-form {
  display: flex;
}

.nav-form input {
  width: 30vw;
  padding: 15px;
  border-color: var(--main-color);
  cursor: pointer;
  /* background-image: url("search.jpg"); */
  outline: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* .nav-form input:focus {
     background-color: #d3c09a;
 } */

#nav-button-search-book {
  width: 50px;
  border-radius: 7px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-color: var(--main-color);
  outline: none;
  cursor: pointer;
}

.nav-icon,
.admin-icon {
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 7px;
  outline: none;
  font-size: 0.8vw;
  display: inline-block;
  transition-duration: 0.5s;
  /* border-top-right-radius: 70px; */
}

.admin-icon:hover {
  background-color: #0b16aa;
  color: white;
}

.nav-icon:hover {
  background-color: #0b16aa;
  color: white;
}

/* -------------------------------end nav bar----------------------------------- */

/* -------------------------------start hearder-------------------------------- */
.banner-info {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.banner-imag {
  max-width: 100%;
  height: 400px;
  position: relative;
}

.banner-text {
  position: absolute;
  top: 410px;
  /* text-align: center; */
  margin-left: 17%;
  color: black;
  width: 100%;
  /* font-family: "Tangerine", serif; */
  font-size: 2vw;
  text-shadow: 10px 10px 10px gray;
  display: block;
  opacity: 0.8;
}

.banner-author {
  font-size: 1vw;
  text-shadow: 5px 5px 5px #aaa;
}

/* ---------------------------------end header--------------------------------- */

/* ------------------------------------books----------------------------------- */

.section-title h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 80px;
  letter-spacing: 30px;
  text-shadow: -5px -5px black;
  color: var(--main-color);
  margin-top: 30px;
}


.books {
  padding: 50px 0;
}

.book {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 2px solid red; */
  border-radius: 5px;
}

/* responsive*/
.books-center {
  max-width: 1400px;
  display: grid;
  /* repeate how many column I want */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  margin: auto;
  margin-top: 25px;
}

/* .book-img:hover {
  transform: scale(1.2);
} */

.book-img {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  margin-top: 10px;
}


.book h4 {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.book p {
  text-align: center;
  font-size: 12px;
  /* padding: 10px; */
}

.book h3 {
  color: green;
  font-size: 17px;
  padding: 10px;
}

.book-details-price {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}

.book-details-btn {
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
  display: block;
  transition-duration: 0.5s;
}

.book-details-btn:hover {
  background-color: #0b16aa;
  color: white;
}

.book:hover {
  transform: scale(1.1);
}

/* ----------------------------end of books---------------------------------*/
/*------------------------- ------start footer -----------------------------*/

.horisontal-line {
  width: 1500px;
  margin: auto;
  padding: 2px;
  background-color: black;
}

.footer-container {
  position: absolute;
  background-color: black;
  width: 100%;
  /* bottom:0px; */
  text-align: center;
  
}

.footer-announcements {
  background-color: white;
}

.footer-message {
  background-color: white;
  color: var(--main-color);
  width: 20%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

.footer-subscribe-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px;
  color: white;
}

#footer-input-email {
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  outline: none;
}

#footer-btn {
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  color: white;
}

/* toate clasele din div care contin fab  */
.footer-social-icons [class*=fab] {
  color: var(--main-color);
}


.footer-social-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  /* padding: 10px; */
}



/*------------------------- ------end footer -----------------------------*/
/* usualy used for normal screens */
@media(max-width:769px) and (max-width:1200px) {
   body {
     width:100%;
   }
   .navbar {
     width:100%;
   }
}
/* usualy used for widescreens */
@media(min-width: 1201px){
  body {
    width:100%;
  }
  .navbar {
    widows: 100%;
  }
  

}
/* usualy used for landscape */
@media(max-height: 500px){
  body {
    width:100%;
  }
  .navbar {
    width:100%;
  }
  .book-img {
  
    width: 100%;
    height: 100%;
  }
} 